<div class="footer">
    <div class="container text-center">
        <div class="row">
          <div class="col-sm-5"><h3>UNITED SCHOLARS CENTER</h3>
            <p>Centenary Hse 3rd floor in town <br>P.0.Box 1634 Kigali-Rwanda,<br>
                +250788307538||+250788304387
                uscworldeducation@gmail.com <br>
                Monday-Friday: 8:00AM-5:00PM <br>
                Saturday: 10:00AM-4:00PM</p>
        
        </div>
          <div class="col-sm-2 footer-link">
            <h3>USEFUL LINK</h3>
            <a href="{% url 'about' %}">About</a>
            <br>
            <a href="{% url 'contact' %}">contact</a>
            
            <br>
            <a href="{% url 'gallery' %}">Gallery</a>
          </div>
          <div class="col-sm-5"><h3>FOLLOW US</h3>
            <p>Please follow us on social Media profile in order to keep updated.</p>
            <div class="social-media">
            <i class="fa-brands fa-facebook"></i> &nbsp;&nbsp;
            <i class="fa-brands fa-instagram"></i> &nbsp;&nbsp;
            <i class="fa-brands fa-twitter"></i>
          </div>

        </div>
        </div>
</div>