{% extends 'main.html' %}

{% block content %}

<div class="about">
    <div class="container">
    <div class="row">

        <div class="col-2"></div>
      
        <div class="col-8">
            <h1>About Us</h1>
            <p>
            USC is an international education consulting firm that represents different universities,
             colleges and schools around the worlds. USC works closely with universities, colleges and 
             partners across the globe especially from develop countries mainly in Europe, Canada, 
             Australia, its core responsibility is to play an intermediate role that builds bridge 
             between African dreamers (students from Africa) whom their dream is to pursue affordable 
             
             and quality education from world-class universities and colleges from developed countries. 
             
             In the other hand, USC assists international researchers to conduct research in Africa. 
             We believe in the power of education and the potential of every student. We believe every
              positive changes starts in education footstep. Working with families, education institution partners, supporters, we strive to ensure 
            every dreamer get his dream coming reality. We have been building powerful partnerships for students for over 6 years and are now active worldwide.
        </p></div>
        <div class="col-2"></div>
      </div>
</div>
</div>

<div class="about-section">
<div class="container text-center">
    <div class="row">
      <div class="col-sm-4">
        <h1>OUR VISION</h1>
        <p>We are commited to enhonce scholars and parent's exceptional experience in
             quality service of overseas education as we create value for our stakeholders and partners".</p>
      </div>
      <div class="col-sm-4">
        <h1>OUR MISSION</h1>
        <p>ecoming referral agent in terms of quality service and best recruitment agency in the region".</p>
      </div>
      <div class="col-sm-4">
        <h1>OUR OBJECTIVES</h1>
        <p>Linking young scholars to the most affordable and quality schools and colleges around the world.</p>
      </div>
    </div>
  </div>

</div>




{% endblock content %}