{% extends 'main.html' %}
{% block content %}
<div class="container poland">
    <h1>CANADA</h1>
    <h4>WE HAVE PARTNERSHIP WITH SOME OF THE TOP
        UNIVERSITIES IN THE CANADA <br>
        Below are the list of our Partner Universities in CANADA.</h4>


        <!-- start from here -->

        <div class="row poland-two">

            <div class="col-sm">
                <div class="logo-img">
                <center><img src="static/img/canada/cape.jpg" alt=""></center>
            </div>

            <div class="body-image">
                <img src="static/img/canada/CBU-Header-ABOUT.jpg" alt="">

                <div class="text">
                   <h3>Why Choose Cape Breton University?</h3>
                   <p>-Why Choose Cape Breton University?</p>

                   <p>-Why Choose Cape Breton University?</p>
                   
                   <p>-Why Choose Cape Breton University?</p>
                   
                   <p>- it is very affordable.</p>
<center><button type="button" class="btn btn-primary">Vist Website</button></center>
                </div>
                
            </div>
            </div>
             <div class="col-sm">
                <div class="logo-img">
                <center><img src="static/img/canada/pacific.png" alt=""></center>
            </div>

            <div class="body-image">
                <img src="static/img/canada/pacific_link.jpg" alt="">
                <div class="text">
                    <br> 
                   <h3> Why Choose Pacific Link College? </h3>


                   <p>- It's high school education is one of the qualities which make the college to be unique in Canada</p>

<p>-for whom we have built student support from recruiting to academics to co-op and post-graduate care, and when your child get there believe that his or her career is going to be promoted.</p>
                   
<center><button type="button" class="btn btn-primary">Vist Website</button></center>
                </div>
                
            </div>


            </div>

            <div class="col-sm colStart">
                <div class="logo-img">

                <center><img src="static/img/canada/UniversitydeMoncton.png" alt="" ></center>
            </div>

            <div class="body-image">
                <img src="static/img/canada/universite-de-moncton-campus-shippagan.jpg" alt="">

                <div class="text">
                   <h3> Why Choose University de Moncton?</h3>
                   <p>-being the best human university is also means helping people to choose wisely accordingly</p>

<p>-accordingly, because of that University de Moncton has at least 200 programs.</p>

<p>-t offers an unparalleled human experience.</p>

<p>-Student mentoring, tutoring, psychological support</p>
<center><button type="button" class="btn btn-primary">Vist Website</button></center>
                </div>
                
            </div>
            </div>

            
          </div>
          <!-- Ends here -->

          <!-- start from here -->

        <div class="row poland-two">

            <div class="col-sm">
                <div class="logo-img">
                <center><img src="static/img/canada/fanshawe.jpg" alt=""></center>
            </div>

            <div class="body-image">
                <img src="static/img/usa/sunny.jpg" alt="">

                <div class="text">
                   <h3>Why Choose Fanshawe College?</h3>
                  <p> - has more than 5 majors of faculties.</p>

<p>-located in famous city Ontario.</p>
<p>-is very rich in business education and when you got there, has more than 5 majors of faculties</p>
<center><button type="button" class="btn btn-primary">Vist Website</button></center>
                </div>
                
            </div>
            </div>
             <div class="col-sm">
                <div class="logo-img">
                <center><img src="static/img/canada/kings.jpg" alt=""></center>
            </div>

            <div class="body-image">
                <img src="static/img/canada/kings_one.jpg" alt="">
                <div class="text">
                    <br> 
                    <h3>Why Choose Kings University?</h3>


                    <p>- You are a christian and still wondering where you can direct your child to contue his or her studies? Kings university is the best for your child.</p>
                    
                    <>-It has integrated learning model, spirit empowed community,and flexible course offerings.</p>                   
                   
<center><button type="button" class="btn btn-primary">Vist Website</button></center>
                </div>
                
            </div>
            </div>

            <div class="col-sm">
                <div class="logo-img">
                <center><img src="static/img/canada/canada.jpg" alt=""></center>
            </div>

            <div class="body-image">
                <img src="static/img/canada/canada_one.jpg" alt="">

                <div class="text">
                    <h3>Why Choose Canada College?</h3>


                    <p>- In more than 40 quality instructional programs, including sciences, business, multimedia, medical assisting, the arts, and technical training.</p>
                    
                    <p>-It is the best affordable university.</p>
                    
                    <p>-very trusted in online courses.</p>
<center><button type="button" class="btn btn-primary">Vist Website</button></center>
                </div>
                
            </div>
            </div>

            

            
          </div>
          <!-- Ends here -->


           <!-- start from here -->

        <div class="row poland-two">

            <div class="col-sm">
                <div class="logo-img">
                <center><img src="static/img/canada/west.jpg" alt=""></center>
            </div>

            <div class="body-image">
                <img src="static/img/canada/ucw.jpg" alt="">

                <div class="text">
                    <p>Why Choose University Canada West?</p>


                    <p>- Provides students with the best learning experience possible, whether that be online or on campus.</p>
                    
                    <p>-UCW is rich in bachelor and masters degree, their arts in business is very unique and powerful, and thi is one of universities you can find Proffessors who are willing to share their proffessional experience with students.</p>
<center><button type="button" class="btn btn-primary">Vist Website</button></center>
                </div>
                
            </div>
            </div>
             <div class="col-sm">
               
            </div>

            <div class="col-sm">
           
            </div>

            

            
          </div>
          <!-- Ends here -->

          


          <!-- Poland opportunities -->

          <h3>WHY STUDY IN THE Canada</h3>
          <h4>Here are the reasons why you should choose Canada to pursue your higher education.</h4>

          <div class="row opportunities-poland">

            <div class="col-sm">
                <img src="static/img/thumbs-up.png" alt="">
                <p>Better Job Opportunities</p>
            </div>
            <div class="col-sm">
                <img src="static/img/earnings.png" alt="">
                <p>Low costs of studying and living</p>
            </div>
            <div class="col-sm">
                <img src="static/img/job-opportunities.png" alt="">
                <p>Career Opportunities</p>
            </div>

          </div>
          <!-- Ends Poland opportunities -->

          <!-- Poland opportunities -->

         
          <div class="row opportunities-poland">

            <div class="col-sm">
                <img src="static/img/teamwork.png" alt="">
                <p>
                    Great Culture and Entertainment</p>
            </div>
            <div class="col-sm">
                <img src="static/img/c.png" alt="">
                <p>Work Study Programs</p>
            </div>
            <div class="col-sm">
                <img src="static/img/united.png" alt="">
                <p>Student Support Services</p>
            </div>

          </div>
          <!-- Ends Poland opportunities -->


        </div>
</div>
{% endblock content %}