{% extends 'main.html' %}
{% block content %}
<div class="contact container">
  <div class="contact-h1">
    <h1 class="headerer">Contact us</h1>
  </div>

    <div class="row">
        <div class="col-sm">
            <h1>Contact info</h1>
            <h3>RWANDA</h3>
            <p><i class="fa-solid fa-phone"></i> +250788307538 | +250788304387</p>
            <p><i class="fa-solid fa-envelope"></i> info@uscworldeducation.com</p>
            <hr>
            <h1>Opening hours</h1>
            <p>Monday - Friday — 9:00 AM - 05:00 PM</p>
            <h3>BURUNDI</h3>
            <p><i class="fa-solid fa-phone"></i>+25772091979 | +257775904215</p>
            <p><i class="fa-solid fa-envelope"></i>uscburundieducation@gmail.com</p>
            <hr>
            <h1>Opening hours</h1>
            <p>Monday - Friday — 8:00 AM - 05:00 PM</p>
        </div>
        <div class="col-sm">
            <h1>Contact Us</h1>
            <div class="mb-4">
                
                <label for="exampleFormControlInput1" class="form-label">names*</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="John Doe">
              </div>
              <div class="mb-4">
                
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Comment or Message*</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div class="mb-3">
                <button type="button" class="btn btn-dark">Send Message</button>
              </div>
        </div>
      </div>
</div>
{% endblock content %}