{% extends 'main.html' %}

{% block content %}
    
    <div class="container">
        <div class="events">
          <div class="events-h1">
          <h1>Events</h1>
          </div>  
        <p>United Scholars Center Events are the world's leading international education networking conferences.
            We invite international schools to meet with students.
            Where each student is welcome to ask any question and receive an immediate response.</p>
            <h1>Students Benefits</h1>
            <ul>
                <li>Students Benefits</li>
                <li>Meet different educatorsfrom abroad</li>
                <li>Meet Decision makers from abroad</li>
                <li>Meet Decision makers from abroad</li>
                <li>Meet Decision makers from abroad</li>
            </ul>
            </div>
            <br><br>
            <div class="box-now">
            <h1>Latest Events</h1>
            <div class="row event-one">

                <div class="col-sm event-one-one">
                    <div class="event-one-one-text">
                    <h1>Pyhsical Education Fair</h1>
                    <p>9pm-12pm | 16 JUNE 2022</p>
                    <p>16 JUNE, 09:00 – 12:00 EAT Location: Ubumwe Grande Hotel Rwanda-Kigali</p>
                   <center> <button type="button" class="btn btn-primary event-button">Learn More</button> </center>

                                </div>
                      </div>
                      <div class="col-sm event-one-one">
                        <div class="event-one-one-text">
                        <h1>Pyhsical Education Fair</h1>
                        <p>9pm-12pm | 16 JUNE 2022</p>
                        <p>16 JUNE, 09:00 – 12:00 EAT Location: Ubumwe Grande Hotel Rwanda-Kigali</p>
                       <center> <button type="button" class="btn btn-primary event-button">Learn More</button> </center>
    
                                    </div>
                          </div>
                          <div class="col-sm event-one-one">
                            <div class="event-one-one-text">
                            <h1>Pyhsical Education Fair</h1>
                            <p>9pm-12pm | 16 JUNE 2022</p>
                            <p>16 JUNE, 09:00 – 12:00 EAT Location: Ubumwe Grande Hotel Rwanda-Kigali</p>
                           <center> <button type="button" class="btn btn-primary event-button">Learn More</button> </center>
        
                                        </div>
                              </div>
              </div>
            </div>      
              <br>
              <br>
              <br>

    </div>
{% endblock content %}