{% extends 'main.html' %}

{% block content  %}

<div class="container gallery-start">
  <div class="gallery-header">
    <h1>Gallery</h1>

  </div>

  <h1>2023 Gallery Image</h1>

  <!--  2023 gallery image -->
  <div class="row  gallery">
    <div class="col-sm"><img src="static/img/gallery/7E7A0005.jpg" alt=""></div>
    <div class="col-sm"><img src="static/img/gallery/7E7A0017.jpg" alt=""></div>
    <div class="col-sm"><img src="static/img/gallery/7E7A0018.jpg" alt=""></div>
  </div>

  <div class="row  gallery">
    <div class="col-sm"><img src="static/img/gallery/7E7A0032.jpg" alt=""></div>
    <div class="col-sm"><img src="static/img/gallery/7E7A0035.jpg" alt=""></div>
    <div class="col-sm"><img src="static/img/gallery/7E7A0040.jpg" alt=""></div>
  </div>

  <div class="row  gallery">
    <div class="col-sm"><img src="static/img/gallery/7E7A0066.jpg" alt=""></div>
    <div class="col-sm"><img src="static/img/gallery/7E7A0074.jpg" alt=""></div>
    <div class="col-sm"><img src="static/img/gallery/7E7A0113.jpg" alt=""></div>
  </div>

  
  <div class="row  gallery">
    <div class="col-sm"><img src="static/img/gallery/7E7A0123.jpg" alt=""></div>
    <div class="col-sm"><img src="static/img/gallery/7E7A0208.jpg" alt=""></div>
    <div class="col-sm"><img src="static/img/gallery/7E7A0139.jpg" alt=""></div>
  </div>

  <div class="row  gallery">
    <div class="col-sm"><img src="static/img/gallery/7E7A0150.jpg" alt=""></div>
    <div class="col-sm"><img src="static/img/gallery/7E7A0198.jpg" alt=""></div>
    <div class="col-sm"><img src="static/img/gallery/7E7A0214.jpg" alt=""></div>
  </div>

  <div class="row  gallery">
    <div class="col-sm"><img src="static/img/gallery/7E7A0230.jpg" alt=""></div>
    <div class="col-sm"><img src="static/img/gallery/7E7A0259.jpg" alt=""></div>
    <div class="col-sm"><img src="static/img/gallery/7E7A0328.jpg" alt=""></div>
  </div>

  <div class="row  gallery">
    <div class="col-sm"><img src="static/img/gallery/7E7A0337.jpg" alt=""></div>
    <div class="col-sm"><img src="static/img/gallery/7E7A0343.jpg" alt=""></div>
    <div class="col-sm"><img src="static/img/gallery/7E7A0360.jpg" alt=""></div>
  </div>

  <div class="row  gallery">
    <div class="col-sm"><img src="static/img/gallery/7E7A9941.jpg" alt=""></div>
    <div class="col-sm"><img src="static/img/gallery/7E7A9950.jpg" alt=""></div>
    <div class="col-sm"><img src="static/img/gallery/7E7A9982.jpg" alt=""></div>
  </div>
  <!--  2023 gallery image -->

<div class="row  gallery">
  <div class="col-sm"><img src="static/img/gallery/DSC_4783.jpg" alt=""></div>
  <div class="col-sm"><img src="static/img/gallery/DSC_4833.jpg" alt=""></div>
  <div class="col-sm"><img src="static/img/gallery/DSC_4868.jpg" alt=""></div>
</div>

<div class="row  gallery">
  <div class="col-sm"><img src="static/img/gallery/DSC_4926.jpg" alt=""></div>
  <div class="col-sm"><img src="static/img/gallery/DSC_4993.jpg" alt=""></div>
  <div class="col-sm"><img src="static/img/gallery/DSC_5018.jpg" alt=""></div>
</div>

<div class="row  gallery">
  <div class="col-sm"><img src="static/img/gallery/DSC_5022.jpg" alt=""></div>
  <div class="col-sm"><img src="static/img/gallery/DSC_5037.jpg" alt=""></div>
  <div class="col-sm"><img src="static/img/gallery/DSC_5040.jpg" alt=""></div>
</div>

<div class="row  gallery">
  <div class="col-sm"><img src="static/img/gallery/DSC_5048 - Copy.jpg" alt=""></div>
  <div class="col-sm"><img src="static/img/gallery/DSC_5053.jpg" alt=""></div>
  <div class="col-sm"><img src="static/img/gallery/DSC_5097.jpg" alt=""></div>
</div>

</div>


{% endblock content %}