

{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="container">
<div class="body-img">


<div class="body-text">
    <div class="body-text-one">
<p>Linking young scholars to the most affordable and quality schools and colleges around the world.</p>
</div>
<h3>For more information</h3>
<button type="button" class="btn btn-primary button-body">Contact us</button>
</div>
</div>
<div class="text-center">
    <div class="row">
      

        <h3 class="director-msg-head-text">The Director's Message</h3>
      <div class="col-sm-4">

        <div class="director-img"><img src="static/img/boss1.png" alt=""></div>
      </div>

      <div class="col-sm-8">
        
        <p class="director-msg-text">
        Dear Visitors, Parents, Guardians, Students and families, I personally welcome you all to our 
        site; It’s is my pleasure and honor to be at your service. Thank you and congratulations for 
        choosing us; you’ve made one of the right choices towards your paths. “We choose affordability
        
         and quality”. We are here to make a difference in overseas student's 
        
        recruitment business; helping young scholars and their families to get the best, high quality and affordable education.</p>
        <button type="button" class="btn btn-primary button-message" data-bs-toggle="modal" data-bs-target="#exampleModal">
          View Message
        </button>
        
        <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">The Director's Message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <p style="text-align: justify;">Dear Visitors, Parents, Guardians, Students and families, I personally welcome you all to our site; It’s is my pleasure and honor to be at your service. Thank you and congratulations for choosing us; you’ve made one of the right choices towards your paths. “We choose affordability and quality”. We are here to make a difference in overseas student's recruitment business; helping young scholars and their families to get the best, high quality and affordable education.      </p>
       <p style="text-align: justify;">As counselor; I do really understand the struggle you face in education of your beloved daughters and sons when it comes to the budgets! We empathize your dreams of getting your kids to attend the schools. Our company is striving to ensure that we connect your kids into the most and affordable and best schools and colleges in developed countries (EUROPE, CANADA, AUSTRALIA, and USA).      </p>
       <p style="text-align: justify;">We do understand your questions when it comes to VISA process; honestly, waive your worries; we are here to ensure 100% visa success. We will tirelessly work to make it a success. Once again I welcome you all; our student’s counselors will be more than happy to assist you throughout the process.</p>
       <p style="text-align: justify;"><b>Ismael NIYOMURINZI</b></p>
       <p style="text-align: justify;"><i>(Director-Cooperate and partnerships) <br>
        BA Hospitality management <br>
        MBA-Marketing <br>
        Hons.Doctor – Philosophy in Business Administration</i></p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
      
      </div>

        <!-- Button trigger modal -->
        <!-- Study Abroad partners -->

        <div class="study-abroad-partners">
          <h1>Top study abroad universities</h1>
          <div class="row">
            <div class="col-sm">
              <div class="universities-detail">
              <img src="static/img/florida.jpg" alt="">
              <br><br>
              <p>Florida International University</p>
              <p><i>Miami,USA</i></p>
            </div>
            </div>
            <div class="col-sm">
              <div class="universities-detail">
              <img src="static/img/pacific.png" alt="">
              <br><br>
              <p>University of Debrecen</p>
              <p><i> Debrecen, Hungary</i></p>
            </div>
            </div><div class="col-sm">
              <div class="universities-detail">
              <img src="static/img/cape.jpg" alt="">
              <br><br>
              <p>Cape Breton University</p>
              <p><i>Sydney, Canada</i></p>
            </div>
            </div><div class="col-sm">
              <div class="universities-detail">
              <img src="static/img/fologo.png" alt="">
              <br><br>
              <p>University of Debrecen</p>
              <p><i> Debrecen, Hungary</i></p>
            </div>
            </div>
          </div>
        </div>

    </div>
  
<br><br>
    <div class="services-section">
        <h1>We offer the following services:</h1>

        <div class="container text-center">

            <div class="row">
              <div class="col">
                <center><i class="fa-solid fa-school animate__animated animate__bounce"></i></center>
                
                <h3>School Orientation Program</h3>
                <p>
                    It is one thing to have or wishing to study in any country, 
                    but how to choose a school and a program that matches with
                     student career aspirations and dream is another crucial step;
                </p>
<center><button type="button" class="btn btn-primary button-body">Contact us</button></center>
                
              </div>
              <div class="col">
                <center><i class="fa-solid fa-laptop-file"></i></center>
                <h3>Online Education Consultancy</h3>
                <p>We believe some adults are busy working and taking care of their
                     loved ones; some of them thinking on how they can upgrade their
                      academic standards as well as career advancement ;</p>
<center><button type="button" class="btn btn-primary button-body">Contact us</button></center>

              </div>
              <div class="col">
                <center><i class="fa-brands fa-cc-visa"></i></center>
                <h3>Visa Application Center</h3>
                <p>We have officially launched Visa Application Center to facilitate
                     all the individuals who would love to visit their loved ones,
                      business meetings, trade and investment across the world.</p>
<center><button type="button" class="btn btn-primary button-body">Contact us</button></center>


    </div>

    <div class="why-choose-us">
        <h1>Why Choose Us?</h1>
        
            <div class="row">
              <div class="col col-one"><p>-Free visa assessment</p>

               <p>-Enjoy predeparture and free airport pick up !
                
                </p></div>
              <div class="col"><img src="static/img/2.png" alt=""></div>
              <div class="col">
                <p>
                    -Free application offer</p>
                    <p>-Job offers at affordable price and fastest offers</p>
              </div>
            </div>


            <div>
              
            </div>
</div>
</div>
</div>
</div>
<div class="row review-customer">
<div class="customer-comment">
<p>Testimonial</p>
<h3>Our Customer Reviews</h3>
</div>


    <div class="col-sm-10">
<div class="row">
  <div class="col-sm">
    <div class="row">
      <div class="col-sm-4">
        <div class="review-img">
          <i class="fa-solid fa-user"></i>
        </div>
      </div>
      <div class="col-sm-8">
        <p>UWASE YVONNE <br>
        PUBLIC HEALTH STUDENT</p>
      </div>
      <p style="text-align: justify;">After Getting Visa Refusal I was so confused ,
         thinking that study in Canada is impossible but USC
          has been a solution to me ! Thanks to its Director and rest of the Team.</p>
      
    </div>
  </div>
  <div class="col-sm"><div class="row">
    <div class="col-sm-2">
      <div class="review-img">
        <i class="fa-solid fa-user"></i>
    </div>
    </div>
    <div class="col-sm-10"><p>NINA NEEMA
      BA BUSINESS STUDENT</p></div>
      <p style="text-align: justify;">After 2 years serving as Student Advisor at USC ; USC gave me a chance to expand.
         I am now studding at CBU, USC recommended me for Job in Canada. Thanks Ismael 
         for your tremendous Support and Guidance ! You've made my dream come true .</p>
  </div></div>
  <div class="col-sm"><div class="row">
    <div class="col-sm-2">
      <div class="review-img">
        <i class="fa-solid fa-user"></i>
    </div>
    </div>
    <div class="col-sm-10"><p>NINA NEEMA
      BA BUSINESS STUDENT</p></div>
      <p style="text-align: justify;">After 2 years serving as Student Advisor at USC ; USC gave me a chance to expand.
         I am now studding at CBU, USC recommended me for Job in Canada. Thanks Ismael 
         for your tremendous Support and Guidance ! You've made my dream come true .</p>
  </div></div>
</div>
</div>

<div class="col-sm-4"></div>
</div>




<h1>ROOMS</h1>

{% for products in product %}
<a href="{% url 'update-room' products.id %} ">Edit</a>
<a href="{%url  'delete-room'  products.id %}">Delete</a>
<a href="{% url  'exupdate'  products.id %}">Exupdate</a>

{{ products.name }}<br>
{% endfor %}


<a href="{% url 'create-room' %}">room</a>


<a href="{% url 'excreate' %}">Ex create</a>

</div></div>
{% endblock content %}