{% extends 'main.html' %}
{% block content %}
<div class="container poland">
    <h1>Study Abroad</h1>
    <h4>WE HAVE PARTNERSHIP WITH SOME OF THE TOP
        UNIVERSITIES IN THE WORLD <br>
        Below are the list of our Partner Universities in the WORLD.</h4>


        <!-- start from here -->

        <div class="row poland-two">

            <div class="col-sm">
                <div class="logo-img">
                <center><img src="static/img/other/un1.png" alt=""></center>
            </div>         <div class="body-image">
                <img src="static/img/canada/CBU-Header-ABOUT.jpg" alt="">

                <div class="text">
                    <h3>Why Choose Antalya University Turkey?</h3>


                    <p>-You wish to continue your master and PhD degree abroad? Antalya is the best choice you can ever make for your future.</p>
                    
                    <p>-It is located in Turkey with high qualified faculty members</p>
                    
                    <p>-the good thing to know here is their best offers to qualified students.</p>
<center><button type="button" class="btn btn-primary">Vist Website</button></center>
                </div>
                
            </div>
            </div>
             <div class="col-sm">
                <div class="logo-img">
                <center><img src="static/img/other/middle.jpg" alt=""></center>
            </div>

            <div class="body-image">
                <img src="static/img/canada/pacific_link.jpg" alt="">
                <div class="text">
                    <br> 
                   <h3> Why Choose Middle East Technical University?</h3>


                   <p> - It is in Turkey with some good offers, this is very affordable university with almost faculties in technology.</p>
                    
                    <p>-it has quality education in Turkey</p>
                    
                    <p>-academic year is divided into two semesters</p>
                    
                   <p> -it is very affordable university.</p>
<center><button type="button" class="btn btn-primary">Vist Website</button></center>
                </div>
                
            </div>


            </div>

            <div class="col-sm colStart">
                <div class="logo-img">

                <center><img src="static/img/other/final.png" alt="" ></center>
            </div>

            <div class="body-image">
                <img src="static/img/canada/universite-de-moncton-campus-shippagan.jpg" alt="">

                <div class="text">
                    <h3>Why Choose Final International University?</h3>


                    <p>- it is an institute which is affordable,</p>
                    
                    <p>-it is high tech university in USA,</p>
                    
                    <p>-there are some job opportunities for students.
                    </p>                    
                   <p> -it offers attomatic discounts on talented and qualified students.</p>
<center><button type="button" class="btn btn-primary">Vist Website</button></center>
                </div>
                
            </div>
            </div>

            
          </div>
          <!-- Ends here -->

          <!-- start from here -->

        <div class="row poland-two">

            <div class="col-sm">
                <div class="logo-img">
                <center><img src="static/img/other/nest.png" alt=""></center>
            </div>

            <div class="body-image">
                <img src="static/img/usa/sunny.jpg" alt="">

                <div class="text">
                    <p>Why Choose Nest Academy?</p>


                   <p> - It is located in Dubai most tourist counrty around the world and most commercial state in the world</p>
                    
                    <p>-This is rich in Advertising technology and interactive branding.</p>
<center><button type="button" class="btn btn-primary">Vist Website</button></center>
                </div>
                
            </div>
            </div>
             <div class="col-sm">
                <div class="logo-img">
                <center><img src="static/img/other/near.jpg" alt=""></center>
            </div>

            <div class="body-image">
                <img src="static/img/canada/kings_one.jpg" alt="">
                <div class="text">
                    <br> 
                    <h3>Why Choose Near East University?</h3>


<p>- Near East University is in Nothern Cyprus and is where you can find all faculties with affordable tuition fee.</p>

<p>-it's specialy is in medicine and faculty of dentist is the best around Cyprus.                </p>
                   
<center><button type="button" class="btn btn-primary">Vist Website</button></center>
                </div>
                
            </div>
            </div>

            <div class="col-sm">
               
            </div>

            

            
          </div>
          <!-- Ends here -->


        

          


          <!-- Poland opportunities -->

          <h3>WHY STUDY IN THE Canada</h3>
          <h4>Here are the reasons why you should choose Canada to pursue your higher education.</h4>

          <div class="row opportunities-poland">

            <div class="col-sm">
                <img src="static/img/thumbs-up.png" alt="">
                <p>Better Job Opportunities</p>
            </div>
            <div class="col-sm">
                <img src="static/img/earnings.png" alt="">
                <p>Low costs of studying and living</p>
            </div>
            <div class="col-sm">
                <img src="static/img/job-opportunities.png" alt="">
                <p>Career Opportunities</p>
            </div>

          </div>
          <!-- Ends Poland opportunities -->

          <!-- Poland opportunities -->

         
          <div class="row opportunities-poland">

            <div class="col-sm">
                <img src="static/img/teamwork.png" alt="">
                <p>
                    Great Culture and Entertainment</p>
            </div>
            <div class="col-sm">
                <img src="static/img/c.png" alt="">
                <p>Work Study Programs</p>
            </div>
            <div class="col-sm">
                <img src="static/img/united.png" alt="">
                <p>Student Support Services</p>
            </div>

          </div>
          <!-- Ends Poland opportunities -->


        </div>
</div>
{% endblock content %}