{% extends 'main.html' %}
{% block content %}
<div class="container poland">
    <h1>POLAND</h1>
    <h4>WE HAVE PARTNERSHIP WITH SOME OF THE TOP
        UNIVERSITIES IN THE POLAND <br>
        Below are the list of our Partner Universities in Poland.</h4>


        <!-- start from here -->

        <div class="row poland-two">

            <div class="col-sm">
                <div class="logo-img">
                <center><img src="static/img/wwsb.png" alt=""></center>
            </div>

            <div class="body-image">
                <img src="static/img/warsow.jpg" alt="">

                <div class="text">
                   <h3> Why Choose Warsaw University of Business and Humanitiesity?</h3>
<p>-WWSB and WWSH is one college (two in one).</p>
<p>-It is in capital city this encourage people to work while studying</p>

<p>-offers working hours to their students, and the best thing is accomondation is very affordable like school fees.</p>
<center><button type="button" class="btn btn-primary">Vist Website</button></center>
                </div>
                
            </div>
            </div>
             <div class="col-sm">
                <div class="logo-img">
                <center><img src="static/img/wsb.png" alt=""></center>
            </div>

            <div class="body-image">
                <img src="static/img/wsb.jpg" alt="">
                <div class="text">
                    <br> 
                   <h3> Why Choose WSB Universities (Poznan, Szezecin, Wsrow, Warsaw)? </h3>


<p>-it is found in more than three cities.</p>

<p>-WSB degrees are recognized in all European Union member states.</p>

<p>-WSB is more skilled in practical by partnering with numerous companies.</p>
<center><button type="button" class="btn btn-primary">Vist Website</button></center>
                </div>
                
            </div>


            </div>

            <div class="col-sm colStart">
                <div class="logo-img">

                <center><img src="static/img/vistula.png" alt="" ></center>
            </div>

            <div class="body-image">
                <img src="static/img/vistual.jpg" alt="">

                <div class="text">
                   <h3> Why Choose Vistula University? </h3>


<p>-You want to excell in accounting, Journalism, political science, It is one of the best private schools in Poland with high education in management.
</p>

<p>-You want to excell in accounting, Journalism, political science, It is one of the best private schools in Poland with high education in management.</p>

<center><button type="button" class="btn btn-primary">Vist Website</button></center>
                </div>
                
            </div>
            </div>

            
          </div>
          <!-- Ends here -->

          <!-- start from here -->

        <div class="row poland-two">

            <div class="col-sm">
                <div class="logo-img">
                <center><img src="static/img/warsaw.png" alt=""></center>
            </div>

            <div class="body-image">
                <img src="static/img/wwsb.jpg" alt="">

                <div class="text">
                   <h3> Why Choose Warsaw Management University?</h3>
                   <p>-This school it is most affordable university in all degrees</p>

                   <p>-it is high tech university in Poland,</p>
                   
                   <p> -it is in capital city.</p>
                   
                   <p>-it is more favorable university in Poland.</p>
<center><button type="button" class="btn btn-primary">Vist Website</button></center>
                </div>
                
            </div>
            </div>
             <div class="col-sm">
                <div class="logo-img">
                <center><img src="static/img/lublin.png" alt=""></center>
            </div>

            <div class="body-image">
                <img src="static/img/vistual.jpg" alt="">
                <div class="text">
                    <br> 
                   <h3> Why Choose WSPA Lublin University? </h3>


                  <p>-In practical education WSPA it is first priority in Poland</p> 

                  <p>-if you want to excell in Business, Entreprise, and Administration WSPA is the best choice we can advise you</p> 
                   
                  <p>-there is working hours for students, and it is good in collaboration.</p> 
                   
                   
<center><button type="button" class="btn btn-primary">Vist Website</button></center>
                </div>
                
            </div>
            </div>

            <div class="col-sm">
                <div class="logo-img">
                <center><img src="static/img/lazarski.jpg" alt=""></center>
            </div>

            <div class="body-image">
                <img src="static/img/vistual.jpg" alt="">

                <div class="text">
                   <h3> Why Choose Lazarski University?</h3>
                   <P>Lazarski is amongest the best private universities in Poland</P>

                   <P>-the specialists for this university is a christianity university means christian people are interested here.</P>

                   <P>-another thing is people who graduates from there degree they get is the same as in Canvananty College in United Kingdom.</P>
<center><button type="button" class="btn btn-primary">Vist Website</button></center>
                </div>
                
            </div>
            </div>

            
          </div>
          <!-- Ends here -->


          <!-- Poland opportunities -->

          <h3>WHY STUDY IN THE POLAND</h3>
          <h4>Here are the reasons why you should choose Poland to pursue your higher education.</h4>

          <div class="row opportunities-poland">

            <div class="col-sm">
                <img src="static/img/thumbs-up.png" alt="">
                <p>Better Job Opportunities</p>
            </div>
            <div class="col-sm">
                <img src="static/img/earnings.png" alt="">
                <p>Low costs of studying and living</p>
            </div>
            <div class="col-sm">
                <img src="static/img/job-opportunities.png" alt="">
                <p>Career Opportunities</p>
            </div>

          </div>
          <!-- Ends Poland opportunities -->

          <!-- Poland opportunities -->

         
          <div class="row opportunities-poland">

            <div class="col-sm">
                <img src="static/img/teamwork.png" alt="">
                <p>
                    Great Culture and Entertainment</p>
            </div>
            <div class="col-sm">
                <img src="static/img/c.png" alt="">
                <p>Work Study Programs</p>
            </div>
            <div class="col-sm">
                <img src="static/img/united.png" alt="">
                <p>Student Support Services</p>
            </div>

          </div>
          <!-- Ends Poland opportunities -->


        </div>
</div>
{% endblock content %}