{% extends 'main.html' %}
{% block content %}

<h1>Room templates</h1>

{% for rooms in room %}
{{rooms.name}}
<p>{{ rooms.descrption }}</p>

<div class="comment-wrapper">
    <h3> Conversation </h3>
    <hr>
</div>
{% endfor %}

{% for message in messages %}
<div>
    <small>@{{message.user}}  {{message.created}}</small>
</div>




{% endfor %}


<!-- Exercices Now -->
<div id="error"></div>
<form action="" method="Get">
    <label for="name">Name</label>
    <input type="text" value="name">
    <label for="password">Password</label>
    <input type="password" value="password">
    <button>Submit</button>

</form>



{% endblock content %}