{% extends 'main.html' %}
{% block content %}
<div class="container services">
  <div class="services-h1">
<h1>Services</h1>
</div>

<div class="row">
    <div class="col-sm">
       <center> <i class="fa-solid fa-school"></i></center>
        <h3>School Orientation Program</h3>
        <p>It is one thing to have or wishing to study in any country, but how to choose a
             school and a program that matches with student career aspirations and dream is
              another crucial step; It is our core role to ensure students and their families 
              are assisted through this step; beyond that families are assisted to know best,
               quality and affordable options that matches with the budgets.
             First forward service in the Ontario and Alberta Regions, USA (i20), Poland As 
             “Empathize” Our aim is to make the;</p>
    </div>
    <div class="col-sm">
        <center><i class="fa-solid fa-graduation-cap"></i></center>
        <h3>Online Education Consultancy</h3>
        <p>We believe some adults are busy working and taking care of their loved ones; 
            some of them thinking on how they can upgrade their academic standards as well 
            as career advancement ; it is probably hard to leave their current position
             fearing on losing your job? We partner with the best and affordable 
             international schools with international 
            accreditation that offer degrees and diploma online. These degrees are
             considered and have the same values as traditional on-campus ones</p>
    </div>
    <div class="col-sm">
        <center><i class="fa-brands fa-cc-visa"></i></center>
        <h3>Visa Application Center</h3>
        <p>We have officially launched Visa Application Center 
            to facilitate all the individuals who would love to 
            visit their loved ones, business meetings, trade and 
            investment across the world.</p>
    </div> 
  </div>
<br><br>
  <div class="row">
    <div class="col-sm">
       <center><i class="fa-solid fa-user-nurse"></i></center>
        <h3>Carreer Guidance Program</h3>
        <p>We believe education is should go beyond chalk and talk; we define education as 
            homogeneous blend that involves every step of life how to live, how study how
             grow and ready to do affective work. We train scholars how to exploit their potential in career paths.
            Our word is simple “If you choose to study go for extra mile; be extra ordinary person; choose to think big”</p>
    </div>
    <div class="col-sm">
        <center><i class="fa-solid fa-jet-fighter"></i></center>
        <h3>Study Permit Visa advisory</h3>
        <p>This is one of the most challenging and stressing step 
            but ” Remember we empathize “scholars and families sometimes think it’s impossible; 
            we assist to know what the requirements are and make sure files are 
            mistake free and submitted on timeliness. Your success is our success</p>
    </div>
    <div class="col-sm">
        <center><i class="fa-solid fa-layer-group"></i></center>
        <h3>Business Consultancy</h3>
        <p>Our team and partners will ensure your projects and business are in the right. 
            We believe in the diversity, our team is composed with diverse sets of skills and expertise’s
             (Professional Hoteliers, Certified Accountants, IT engineers, Investments advisors,
              University Teachers)</p>
    </div> 
  </div>
  <br><br>
</div>
{% endblock content %}