{% extends 'main.html' %}
{% block content %}
<div class="container poland">
    <h1>USA</h1>
    <h4>WE HAVE PARTNERSHIP WITH SOME OF THE TOP
        UNIVERSITIES IN THE USA <br>
        Below are the list of our Partner Universities in USA.</h4>


        <!-- start from here -->

        <div class="row poland-two">

            <div class="col-sm">
                <div class="logo-img">
                <center><img src="static/img/usa/south.png" alt=""></center>
            </div>

            <div class="body-image">
                <img src="static/img/usa/south dakota.jpg" alt="">

                <div class="text">
                   <h3> Why Choose South Dakota University?</h3>
                  <p> -is one of the best universities you can find in USA</p>

<p>-is one of the best universities you can find in USA</p>

<p> -it is located in an interesting state all the tools you need to turn your dreams into reality.</p>
<center><button type="button" class="btn btn-primary">Vist Website</button></center>
                </div>
                
            </div>
            </div>
             <div class="col-sm">
                <div class="logo-img">
                <center><img src="static/img/usa/florida.jpg" alt=""></center>
            </div>

            <div class="body-image">
                <img src="static/img/usa/University_Florida_International.jpg" alt="">
                <div class="text">
                    <br> 
                   <h3> Why Choose Florida international University? </h3>


                   <p>-Why Choose Florida international University?</p>

                   <p>-it is has almost all majors in faculties</p>
                   
                   <p>-it is one of the best universities -it is one of the best universities</p>
                   
<center><button type="button" class="btn btn-primary">Vist Website</button></center>
                </div>
                
            </div>


            </div>

            <div class="col-sm colStart">
                <div class="logo-img">

                <center><img src="static/img/usa/trine.jpg" alt="" ></center>
            </div>

            <div class="body-image">
                <img src="static/img/vistual.jpg" alt="">

                <div class="text">
                   <h3> Why Choose Trine Athletics University? </h3>
                   <p>-Why Choose Trine Athletics University?</p>

<p>-t is one of the best university in USA which promotes sports and student's career</p>

<p>-located in confortable city Angola it's accomodation is very affordable.</p>
<center><button type="button" class="btn btn-primary">Vist Website</button></center>
                </div>
                
            </div>
            </div>

            
          </div>
          <!-- Ends here -->

          <!-- start from here -->

        <div class="row poland-two">

            <div class="col-sm">
                <div class="logo-img">
                <center><img src="static/img/usa/suny.png" alt=""></center>
            </div>

            <div class="body-image">
                <img src="static/img/usa/sunny.jpg" alt="">

                <div class="text">
                   <h3>Why Choose SUNY Polytechnic Institute?                </h3>
                   <p>-Why Choose SUNY Polytechnic Institute?</p>

<p>-it is high tech university in USA,</p>

<p>-it is in capital city.</p>

<p>-it offers attomatic discounts on talented and qualified students</p>
                   
                   <p>-it is more favorable university in Poland.</p>
<center><button type="button" class="btn btn-primary">Vist Website</button></center>
                </div>
                
            </div>
            </div>
             <div class="col-sm">
                <div class="logo-img">
                <center><img src="static/img/usa/westcliff.png" alt=""></center>
            </div>

            <div class="body-image">
                <img src="static/img/usa/westcliff.jpg" alt="">
                <div class="text">
                    <br> 
                   <h3> Why Choose Westcliff University? </h3>


                   <p>-it is affordable universties and it is best for masters degree</p>

                   <p>-it is known universtity which represented by more than 87 countries all over the world. located heart of southern California sarrounded by scenic mountains and ocean views.</p>
                   
                   
<center><button type="button" class="btn btn-primary">Vist Website</button></center>
                </div>
                
            </div>
            </div>

            <div class="col-sm">
                <div class="logo-img">
                <center><img src="static/img/usa/asa.jpg" alt=""></center>
            </div>

            <div class="body-image">
                <img src="static/img/usa/ASA-College-New-York.jpg" alt="">

                <div class="text">
                   <h3> Why Choose ASA College?</h3>
                   <p>ASA college that is among the best colleges in USA New York city in Manhattan and downtown Brooklyn t is affordable because they don't leave any student behind is one of the best high tech university.</p>
<center><button type="button" class="btn btn-primary">Vist Website</button></center>
                </div>
                
            </div>
            </div>

            
          </div>
          <!-- Ends here -->


          <!-- Poland opportunities -->

          <h3>WHY STUDY IN THE USA</h3>
          <h4>Here are the reasons why you should choose USA to pursue your higher education.</h4>

          <div class="row opportunities-poland">

            <div class="col-sm">
                <img src="static/img/thumbs-up.png" alt="">
                <p>Better Job Opportunities</p>
            </div>
            <div class="col-sm">
                <img src="static/img/earnings.png" alt="">
                <p>Low costs of studying and living</p>
            </div>
            <div class="col-sm">
                <img src="static/img/job-opportunities.png" alt="">
                <p>Career Opportunities</p>
            </div>

          </div>
          <!-- Ends Poland opportunities -->

          <!-- Poland opportunities -->

         
          <div class="row opportunities-poland">

            <div class="col-sm">
                <img src="static/img/teamwork.png" alt="">
                <p>
                    Great Culture and Entertainment</p>
            </div>
            <div class="col-sm">
                <img src="static/img/c.png" alt="">
                <p>Work Study Programs</p>
            </div>
            <div class="col-sm">
                <img src="static/img/united.png" alt="">
                <p>Student Support Services</p>
            </div>

          </div>
          <!-- Ends Poland opportunities -->


        </div>
</div>
{% endblock content %}